{% layout 'layouts/default-html.liquid' %}
{% block content %}
<div>
  <div class="breadcrumbs">
    <a href="/books">Books</a> > {{ book.title }}
  </div>
  <h1>{{ book.title }}</h1>
  <p><i>{{ book.author }}</i></p>
  <p>{{ book.description }}</p>
  <hr>
  <div class="book-sections">
    {% for section in book.BookSections %}
      <div class="book-section-panel" style="border:1px solid #ababab;margin-bottom: 20px;padding:20px;">
        <h2>{{ section.title }}</h2>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}